/* My Styles */
body {
	font-family: 'Roboto', sans-serif;
	background: url('../img/green_cup.png');
}
header {
	position: relative;
	padding-bottom: 1.25rem;
}

header h1 {
	bottom:0;
	font-size: 2em;
	left:313px;
	bottom: 7px;
	position: absolute;
	color: steelblue;
}

ul {
	list-style: none;
}
/*top bar*/
.contain-to-grid, .top-bar,.top-bar-section li:not(.has-form) a:not(.button) {
	background: #1B6017;
}

.top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
	background: steelblue;
}

/*Column 2*/
.tabs dd.active a{
	background: steelblue;
	color: #172E60;
}
.tabs dd > a {
	background: #172E60;
	color: steelblue;
	padding: 1rem 1.13rem;
	border-radius: 10px 10px 0 0;
	border: 1px solid #000;
}
.tabs dd > a:hover{
	background: steelblue;
	color: #172E60;
}
.tabs-content {
	border:1px solid #000;
	border-top:none;
	border-radius: 0 0 10px 10px;
	padding: 10px;
	background: steelblue;
	padding: 0 0 14.3rem 0;
}

.panel.callout a:not(.button){
	color:#000;
}
/*Column 1*/
.panel.callout {
	background: steelblue;
	border-color:#000;
	border-radius:10px;
}
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p{
	color: #172E60;
}
.panel.callout a:not(.button):hover {
	color: #172E60;
}
h1, h2, h3, h4, h5, h6{
	color: #172E60;

}
p{
	margin:1rem;
}

/*Modal*/
.reveal-modal-bg {
	background: steelblue;
}
dialog, .reveal-modal{
	border:1px solid #000;
	border-radius:10px;
}
a{
	color: steelblue;
}
a:hover{
	color:#172E60;
}

/*Carousel*/
.orbit-container,.orbit-slide-number, .orbit-timer {
	padding-top:1.25rem;
}
.orbit-container .orbit-slides-container li .orbit-caption {
	background: #1B6017;
	width: 960px;
}