/* My Styles */
header {
	position: relative;
}

header h1 {
	bottom:0;
	font-size: 2em;
	left:48px;
	position: absolute;
}
/*Column 1*/
.tabs-content {
	border:1px solid #000;
	border-top:none;
	padding: 10px;
}
dd {
	border:1px solid #000;
}
/*Column 2*/
.panel.callout {
	background: steelblue;
}

/*Modal*/
.reveal-modal-bg {
	background: steelblue;
}